# Dependencies
node_modules/
node_modules_tmp/

# Build output
build/
dist/
coverage/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db
